/*Common rules*/
body {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  line-height: 22px;
  background-color: #849d8f;
}

.clearfix:after{
  content:"";

  display:table;

  clear:both;
}

.main-logo {
  background-color: #849d8f;
}

.site-wrapper {
  min-width: 900px;

  background-position: top center;
  background-repeat: no-repeat;

}

.content-wrapper {
  min-width: 860px;
  max-width: 1146px;

  margin: auto;
  padding: 0 2.3%;
  padding-top: 20px;
}

.btn {
  font-size: 18px;
}

.orange-btn {
  vertical-align: top;

  color: #ffffff;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

/*INDEX.HTML*/

body > input[type="radio"] {
  display: none;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before,
.site-wrapper::after {
  background-image: url("../img/slide1.png");
}

.site-wrapper::after {
  background-image: url("../img/slide2.png");
}


.main-header {
  font-size: 0px;
}

.menu-logo {
  float: left;
  width: 170px;

  padding: 0;
  margin: 0;
}

.main-navigation {
  float: left;
  max-width: 705px;
  min-width: 440px;

  margin-top: 12px;
}

.main-menu {

  list-style: none;

  padding: 0;
  margin: 0;

  font-size: 0;
}

.main-menu__item {
  display: inline-block;

  margin-right: 26px;

  vertical-align: top;
  font-size: 0;
}

.main-menu__item--dropdown {
  position: relative;
  padding-bottom: 20px;
}

.main-menu__item .menu-active {
  padding: 8px 13px;

  color: #242424;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 100px;
}

.main-menu__item > a {
  display: inline-block;

  padding-top: 8px;
  padding-bottom: 8px;

  vertical-align: top;
  color: #ffffff;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
}

.sub-menu {
  display: none;
  position: absolute;
  left: -20px;
  right: -40px;
  top: 45px;

  list-style: none;

  padding: 0;
  padding-bottom: 20px;
  margin: 0;


  background-color: #f8f7f4;
  border-radius: 13px;
}

.main-menu__item--dropdown:hover .sub-menu {
  display: inline-block;
}

.sub-menu a {
  display: block;

  color: #242424;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.sub-menu__item {
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sub-menu__item:first-child {
  font-weight: 800;

  padding-bottom: 15px;
}

.sub-menu__item--divider {
  border: 1px solid #d1d0ce;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
}

.sub-menu__item--active {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #fbded8;
}
.sub-menu__item--hidden {
  visibility: hidden;
  background-color: none;
}

.user-block {
  float: right;
  max-width: 290px;
  min-width: 260px;

  padding: 0;
  margin: 0;
  margin-top: 12px;

  list-style: none;
  font-size: 0;
}

.user-block__item {
  display: inline-block;

  margin-right: 9px;

  vertical-align: top;
  font-size: 0;
}

.user-block__item:last-child {
  margin-right: 0;
}

.user-block__item a {
  display: inline-block;

  vertical-align: top;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 100px;
  background-color: #a9c0b3;

}

.user-block__item .cart {
  position: relative;

  padding: 8px 33px;
  padding-left: 45px;
}

.user-block__item .cart::before {
  content: "";

  position: absolute;
  left: 17px;
  top: 6px;

  width: 21px;
  height: 20px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -53px -5px;
}


.user-block__item .login {
  position: relative;

  padding: 8px 15px;
  padding-left: 45px;
}

.user-block__item .login::before {
  content: "";

  position: absolute;
  left: 17px;
  top: 6px;

  width: 21px;
  height: 20px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -154px -160px;
}

.user-block__item .search {
  position: relative;
  width: 33px;
  height: 33px;
  background-color: #a9c0b3;
  border-radius: 100%;
}

.search img {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 17px;
  height: 17px;

  transform: translate(-50%, -50%);

}

.header-menu-contacts {
  float: right;
  display: inline-block;

  max-width: 179px;

  text-align: right;
}

.header-menu-contacts span {

  font-size: 16px;
  line-height: 18px;
}

.header-menu-contacts span:last-child {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;

  margin-bottom: 40px;
  padding-top: 270px;

  text-align: center;
  color: #ffffff;

  font-size: 0;
}

.slide {
  display: none;
}

.slide-title {
  max-width: 700px;

  margin: auto;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 67px;
  font-weight: 800;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;

  width: 17px;
  height: 17px;

  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#radio1:checked ~ .site-wrapper #slide1,
#radio2:checked ~ .site-wrapper #slide2,
#radio3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#radio1:checked ~ .site-wrapper label[for="radio1"],
#radio2:checked ~ .site-wrapper label[for="radio2"],
#radio3:checked ~ .site-wrapper label[for="radio3"] {
  background-color: #ffffff;
}

#radio1:checked ~ .site-wrapper {
 background-image: url("../img/slide1.png");
 background-color: #8da799;
}

#radio2:checked ~ .site-wrapper {
  background-image: url("../img/slide2.png");
  background-color: #97a6b6;
}

#radio3:checked ~ .site-wrapper {
  background-image: url("../img/slide3.png");
  background-color: #b3a098;
}

.contacts-form-popup {
  position: absolute;
  top: 337px;
  left: 50%;

  width: 427px;
  height: 442px;

  padding: 20px 25px;

  border-radius: 13px;
  background-color: #f8f7f4;
  transform: translateX(-50%);
}

.contacts-form-popup-close {

  position: absolute;
  right: 24px;
  top: 22px;

  width: 20px;
  height: 20px;

  border: 0;
  outline: 0;
  font-size: 0;
  background-color: #f8f7f4;

  cursor: pointer;
}

.contacts-form-popup-close::after,
.contacts-form-popup-close::before {
  content: "";

  position: absolute;
  right: -3px;
  top: 9px;

  width: 26px;
  height: 1px;

  background-color: #000000;
  border-radius: 1px;
}

.contacts-form-popup-close::after {
  transform: rotate(45deg);
}

.contacts-form-popup-close::before {
  transform: rotate(-45deg);
}

.contacts-form-popup h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  color: #000000;
}

.contacts-form-popup input[type="text"] {

  width: 235px;
  height: 22px;

  margin-bottom: 20px;
  padding: 15px 10px;

  color: #000000;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 7px;
}


.contacts-form-popup .contact-name-label {
  position: absolute;
  top: 75px;
  left: 40px;
  z-index: 20;

  color: #9b9b9b;
}

.contacts-form-popup .contact-email-label {
  position: absolute;
  top: 150px;
  left: 40px;
  z-index: 20;

  color: #9b9b9b;
}

.contacts-form-popup .contact-text-label {
  position: absolute;
  top: 225px;
  left: 40px;
  z-index: 20;

  color: #9b9b9b;
}

.contacts-form-popup label:hover {
  color: #9b9b9b;
}

.contacts-form-popup input:hover {
  border: 2px solid #c7c6c5;
}

.contacts-form-popup input:valid {
  border: 1px solid #d3d3d2;
  outline: none;
}

.contacts-form-popup input.contact-name-input:focus + .contact-name-label {
  position: absolute;
  left: 42px;
  top: 38px;

  color: #8fbdec;
  font-size: 11px;
}

.contacts-form-popup input.contact-name-input:valid + .contact-name-label {
  position: absolute;
  left: 42px;
  top: 38px;

  color: #d3d3d2;
  font-size: 11px;
}

.contacts-form-popup input.contact-email-input:focus + .contact-email-label {
  position: absolute;
  left: 42px;
  top: 115px;

  color: #8fbdec;
  font-size: 11px;
}

.contacts-form-popup input.contact-email-input:valid + .contact-email-label {
  position: absolute;
  left: 42px;
  top: 115px;

  color: #d3d3d2;
  font-size: 11px;
}

.contacts-form-popup input.contact-text-input {
  width: 405px;
  height: 20px;
  padding-bottom: 135px;
}

.contacts-form-popup input.contact-text-input:focus + .contact-text-label {
  position: absolute;
  left: 42px;
  top: 190px;

  color: #8fbdec;
  font-size: 11px;
}

.contacts-form-popup input.contact-text-input:valid + .contact-text-label {
  position: absolute;
  left: 42px;
  top: 190px;

  color: #d3d3d2;
  font-size: 11px;
}

.contacts-form-popup__btn {
  float: right;

  padding: 15px 26px;
  margin-bottom: 25px;

  outline: none;
  border: none;
}

.search-form-popup {
  position: absolute;
  top: 70px;
  left: 50.5%;

  width: 312px;
  height: 38px;

  padding: 15px;

  border-radius: 10px;
  background-color: #f8f7f4;

}

.search-form-popup input[type="text"] {
  width: 290px;
  height: 6px;

  padding: 15px 10px;

  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 7px;
}

.login-form-popup {
  position: absolute;

  width: 243px;
  height: 145px;

  top: 70px;
  left: 63.5%;

  padding: 20px 15px;

  border-radius: 10px;
  background-color: #f8f7f4;
}

.login-form-popup input[type="text"] {
  width: 223px;
  height: 6px;

  margin-bottom: 10px;
  padding: 15px 10px;

  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 7px;
}

.login-form-popup input[type="text"]:nth-child(2) {
  margin-bottom: 15px;
}

.login__btn {
  float: left;

  padding: 10px 30px;

  font-size: 15px;
  outline: none;
  border: none;
}

.login-form-popup__item {
  float: right;

  padding-left: 20px;
}

.login-form-popup__item--link {
  display: block;
  font-size: 13px;
  color: #333333;
}

.cart-form-popup {
  position: absolute;

  width: 539px;
  height: 241px;

  top: 70px;
  left: 50.5%;

  padding: 20px 15px;
  vertical-align: middle;
  border-radius: 10px;
  background-color: #f8f7f4;
}

.cart-form-popup .popup-table {
  color: #000000;
  font-size: 13px;
  line-height: 15px;

  border: 1px solid black;
}
.popup-table-row {
  height: 55px;
}

.popup-table-cell-close {
  width: 7px;
}

.popup-table-cell {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.popup-table-cell-total {
  padding-right: 0;

  font-size: 15px;
  font-weight: 800;
  text-align: right;
}

.popup-table-cell-amount {

  font-size: 15px;
  font-weight: 800;
}

.popup-table-row1 .popup-table-cell-picture {
  width: 14px;

  background-image: url("../img/cream-orange-jam.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid black;
}

.popup-table-row2 .popup-table-cell-picture {
  width: 14px;

  background-image: url("../img/—Åream-strawberry-white-chock.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid black;
}

.popup-table-cell-name {
  width: 240px;

  border: 1px solid black;
}

.popup-table-cell-kilos {
  width: 120px;

  border: 1px solid black;
}

.popup-table-cell-price {
  width: 80px;

  border: 1px solid black;
}

.banners-row {
  margin-bottom: 40px;

  font-size: 0;
}

.banner-left {
  float: left;
  display: inline-block;

  box-sizing: border-box;
  width: 48.86%;

  padding: 20px;

  background-color: #580116;
  background-image: url("../img/raspberry-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
}

.banner-right {
  float: right;
  display: inline-block;

  box-sizing: border-box;
  width: 48.86%;

  padding: 20px;

  background-color: #211210;
  background-image: url("../img/chockolate-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 13px;
}

.banners-row h1{
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 35px;
  line-height: 40px;
}

.banners-row p {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-size: 18px;
  line-height: 22px;
}

.banner-btn {
  float: right;
  display: inline-block;

  padding: 13px 29px;
}

.icecream-row {
  margin-bottom: 40px;
  font-size: 0px;
}

.icecream-item {
  display: inline-block;

  width: 23.2%;

  margin-right: 2.3%;
  vertical-align: top;
}

.icecream-item:nth-child(4n) {
  margin-right: 0;
}

.icecream-item figure {
  position: relative;

  margin: 0;
  padding: 0;
}

.icecream-item img {
  display: block;

  width: 100%;
  height: auto;
}

.icecream-item .item-price {
  display: block;

  position: absolute;
  left: 0;
  bottom: 20px;


  font-size: 30px;
  font-weight: 800;
  vertical-align: top;
}

.item-price strong {
  position: relative;

  font-size: 45px;
  margin-right: 33px;
}

.item-price strong::after {
  content: "";
  position: absolute;
  left: 80px;
  top: 10px;

  width: 31px;
  height: 36px;

  background-image: url("../img/sprite.png");
  background-position: -201px -5px;

}

.item-price i {

}
.icecream-item .item-name {
  display: block;

  max-width: 257px;
  min-width: 190px;

  padding: 0 5px;

  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.icecream-item:nth-child(4n) .item-name {
  max-width: 247px;
  min-width: 180px;

  padding: 0 10px;

}

.shop-description {

  box-sizing: border-box;;
  width: 100%;

  padding: 2.3%;
  margin-bottom: 40px;

  font-size: 0px;
  color: #323232;

  background-color: #efe2c9;
  background-image: url("../img/wafer-background.jpg");
  background-size: auto;
  border-radius: 10px;
}

.shop-description .description-header {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
}

.shop-description .description-list {
  padding: 0;
  margin: 0;
}

.shop-description .description-item {
  display: inline-block;

  width: 42%;

  padding-left: 7%;
  padding-top: 27px;

  vertical-align: top;
  font-size: 16px;
  line-height: 22px;
}

.shop-description .description-item-first {
  position: relative;
}

.shop-description .description-item-first::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;

  width: 49px;
  height: 49px;

  background-image: url("../img/sprite.png");
  background-position: -142px -5px;
}

.shop-description .description-item-second {
  position: relative;
}

.shop-description .description-item-second::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;

  width: 49px;
  height: 49px;

  background-image: url("../img/sprite.png");
  background-position: -84px -5px;
}

.shop-description .description-item-third {
  position: relative;
}

.shop-description .description-item-third::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;

  width: 49px;
  height: 49px;

  background-image: url("../img/sprite.png");
  background-position: -95px -160px;
}

.shop-description .description-item-fourth {
  position: relative;
}

.shop-description .description-item-fourth::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 15px;

  width: 49px;
  height: 49px;

  background-image: url("../img/sprite.png");
  background-position: -185px -160px;
}

.news-block {
  margin-bottom: 40px;
}

.news-block .blog-promo {
  float: left;
  display: inline-block;

  box-sizing: border-box;
  width: 48.86%;
  max-height: 220px;

  padding: 25px 20px;

  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  border-radius: 13px;
}

.blog-promo h2 {

  padding: 0;
  margin: 0;
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 20px;

  color: #5a5a5a;
}

.blog-promo a {
  display: block;
  max-width: 290px;

  margin-bottom: 60px;

  font-size: 24px;
  line-height: 26px;

  color: #353535;
}

.news-block .subscribe-wrapper {
  float: right;

  box-sizing: border-box;
  width: 48.86%;

  height: 220px;

  padding: 5px 5px;

  font-size: 0;

  background-image: url("../img/post-background.png");
  border-radius: 13px;
}

.subscribe-wrapper__item {

  padding: 25px 25px;

  background-color: #f8f7f4;
  border-radius: 13px;

}

.subscribe-wrapper__item p {
  margin: 0;
  margin-bottom: 5%;

  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribe-input {
  display: block;
  float: left;

  width: 57%;
  min-height: 22px;

  padding: 12px 10px;
  margin-right: 2.3%;

  font-size: 16px;
  line-height: 18px;
  vertical-align: top;

  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 2px;
  background-color: #ffffff;
}

.subscribe-btn {
  display: block;
  float: right;

  padding: 13px 20px;

  font-size: 17px;
  border: 0;
  outline: 0;
}

.map {
  position: relative;
}

.canvas {
  width: 100%;
  height: 429px;

  background-image: url("../img/map.jpg");
  background-position: center;
  overflow: hidden;
}

.contacts {
  display: inline-block;
  position: absolute;
  right: 50%;
  top: 66px;

  max-width: 252px;
  max-height: 305px;

  padding: 30px 25px;

  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  transform: translateX(580px);
}

.contacts span {
  display: block;

  font-size: 14px;
  line-height: 22px;
}

.contacts .contact-address {
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.contacts .contact-phone {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.contacts span:nth-child(5) {
  margin-bottom: 25px;
}

.contacts-btn {
  display: block;

  padding: 12px 32px;

  font-size: 17px;
  font-weight: 800;
}

/*gllacy-catalog.html*/

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;
}

.content-conteiner h1 {
  font-size: 35px;
  line-height: 30px;
}

.filter-label {
  font-size: 14px;
  line-height: 16px;
}

.filter-select option {
  font-size: 14px;
  line-height: 16px;
}

.filter-select option:first-child {
  line-height: 18px;
}

.filter-inputs {
  line-height: 18px;
}

/*FOOTER*/

.main-footer {
  padding-bottom: 20px;
}

.footer-social-btn {
  float: left;
  width: 24%;
  padding-top: 16px;
}

.social-btn-tw {
  display: inline-block;
  width: 38px;
  height: 38px;

  background-image: url("../img/icon-tw.png");
}

.social-btn-inst {
  display: inline-block;
  width: 38px;
  height: 38px;

  background-image: url("../img/icon-inst.png");
}

.social-btn-fb {
  display: inline-block;
  width: 38px;
  height: 38px;

  background-image: url("../img/icon-fb.png");
}

.social-btn-vk {
  display: inline-block;
  width: 38px;
  height: 38px;

  background-image: url("../img/icon-vk.png");
}

.footer-menu {
  float: left;
  width: 33%;
  padding-top: 16px;
  font-size: 0;
}

.footer-menu__item {
  display: inline-block;

  width: 50%;

  vertical-align: top;
}

.footer-menu__item:first-child {
  position: relative;
  font-weight: 800;
}

.footer-menu__item:first-child::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 2px;

  width: 15px;
  height: 13px;

  background-image: url("../img/sprite.png");
  background-position: -143px -64px;
}

.footer-menu a {
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

.footer-copyright {
  float: right;
  width: 24%;
}

.html-academy-logo {
  width: 108px;
  height: 38px;

  background-image: url("../img/html-academy-logo.png");
}

.footer-copyright span {
  color: #ffffff;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}

.footer-copyright a {
  color: #ffffff;
}
